[Unit]
Description=VIRTUO

[Service]
Type=simple
ExecStart=/home/pi/virtuo/run
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
