<!DOCTYPE html>
<html lang="en">
	<head>
		<title>VIRTUO</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="static/script.js"></script>
		<link href="static/style.css" rel="stylesheet">
		<link rel="stylesheet" href="static/fontawesome/css/all.min.css">
	</head>
	<body>
		<div class="header">
			<h1>VIRTUO</h1>
			<h4 class="subtitle">Visual Impairment Reading Technology Utilizing Outspoken language</h4>
		</div>

		<h2 class="heading">System Controls</h2>
		{% if scanning %}
			<h3 id="scan-status" class="status-active">Scanning in progress ...</h3>
		{% else %}
			<h3 id="scan-status" class="status-idle">Scanner idle</h3>
		{% endif %}
		<div class="controls">
			<a id="scan-listen" class="scan-control bold {% if listening %}inactive{% endif %}" onclick="scan(true)">Scan & listen <i class="fa-solid fa-book-open-reader"></i></a>
			<a id="scan-only" class="scan-control bold {% if scanning %}inactive{% endif %}" onclick="scan(false)">Scan only <i class="fa-solid fa-book-open"></i></a>
			<a id="stop-scan" class="bold {% if not scanning %}inactive{% endif %}" onclick="stopScan()">Stop scanning <i class="fa-solid fa-stop"></i></a>

			<hr class="vr">

			<div id="playback-controls">
				<a class="playback-control {% if not listening %}inactive{% endif %}" onclick="rewind()"><i class="fa-solid fa-backward"></i></a>
				<a class="playback-control {% if not listening %}inactive{% endif %}" onclick="togglePause()" id="playpause"><i class="fa-solid {% if paused or not listening %}fa-play{% else %}fa-pause{% endif %}"></i></a>
				<a class="{% if not listening %}inactive{% endif %}" onclick="fastForward()"><i class="fa-solid fa-forward"></i></a>
			</div>
			<a class="volume-down" onclick="volumeDown()"><i class="fa-solid fa-volume-low"></i></a>
			<input type="range" min="0" max="100" value="{{volume * 100}}" id="volume" onchange="setVolume(this.value)">
			<a><i class="fa-solid fa-volume-up" onclick="volumeUp()"></i></a>

			<hr class="vr">

			<div class="voice-select">
				Select voice:
				<select name="voices" id="voiceSelect" onchange="setVoice()">
					<option selected value="{{current_voice}}">{{current_voice}}</option>
					{% for voice in voices %}
					<option value="{{voice}}">{{voice}}</option>
					{% endfor %}
				</select>
			</div>
			Sample:
			<audio id="voice-sample" controls src="system/voiceSample/{{current_voice}}"></audio>
		</div>

		{% if books|length > 0 %}
		<h2 class="heading">My Books</h2>
		<table>
			<thead id="books-head">
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th># Pages</th>
					<th>Scanned at</th>
					<th colspan="4">Downloads</th>
					<th>Playback</th>
				</tr>
			</thead>
			<tbody id="books">
			{% for book in books %}
				<tr id="{{book["id"]}}" class="book">
					<td class="md-row sm-row"><input type="text" class="metadata" id="title_{{book["id"]}}" value="{{book["title"]}}" placeholder="Enter title" oninput="setTitle('{{book["id"]}}', this)"></td>
					<td class="md-row sm-row"><input type="text" class="metadata" id="author_{{book["id"]}}" value="{{book["author"]}}" placeholder="Enter author" oninput="setAuthor('{{book["id"]}}', this)"></td>
					<td id="pages_{{book["id"]}}" class="md-row sm-row"><span class="mobile-bold">{{book["pages"]}}</span><span class="mobile-only"> page{% if book["pages"] != 1 %}s{% endif %}, scanned at </span></td>
					<td class="md-row sm-row"><span class="mobile-bold">{{book["time"].strftime("%Y-%m-%d\u00a0\u00a0\u00a0%H:%M")}}</span></td>
					<td class="md-row"><span class="mobile-only">Downloads: </span><a href="books/{{book["id"]}}/book.txt" target="_blank" download>Text</a></td>
					<td class="md-row"><a href="books/{{book["id"]}}/book.pdf" target="_blank">PDF</a></td>
					<td class="md-row"><a href="books/{{book["id"]}}/book.epub" target="_blank">EPUB</a></td>
					<td class="md-row"><a href="books/{{book["id"]}}/book.mp3" target="_blank" download>MP3</a></td>
					<td><audio class="book-playback" controls preload="none" src="books/{{book["id"]}}/book.mp3"></audio></td>
					<td id="status_{{book["id"]}}">
					{% if scanning == book["id"] %}
						<span class="current-scan">Currently being scanned</span>
					{% else %}
						<a class="continue-scan bold {% if scanning %}inactive{% endif %}" onclick="scan(false, {{book["id"]}})">Continue scanning <i class="fa-solid fa-book-open"></i></a>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% else %}
		<h2 class="heading">Scanned books will appear here</h2>
		{% endif %}
		<br><br>
	</body>
</html>
