<!DOCTYPE html>
<html lang="en">
	<head>
		<title>VIRTUO</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="static/script.js"></script>
		<link href="static/style.css" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Karla&family=Source+Serif+Pro&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer">
	</head>
	<body onload="getVolume()">
		<div class="header">
			<h1>VIRTUO</h1>
			<h4 class="subtitle">Visual Impairment Reading Technology Utilizing Outspoken language</h4>
		</div>

		<h2 class="heading">System Controls</h2>
		<div class="controls">
			<a class="scan-control bold" onclick="startScan()">Scan & listen <i class="fa-solid fa-book-open-reader"></i></a>
			<a class="scan-control bold" onclick="startScan()">Scan only <i class="fa-solid fa-book-open"></i></a>
			<a class="bold" onclick="stopScan()">Stop scanning <i class="fa-solid fa-stop"></i></a>

			<hr class="vr">

			<div class="playback-controls">
				<a class="playback-control" onclick="rewind()"><i class="fa-solid fa-backward"></i></a>
				<a class="playback-control" onclick="togglePause()" id="playpause"><i class="fa-solid fa-play"></i></a>
				<a onclick="fastForward()"><i class="fa-solid fa-forward"></i></a>
			</div>
			<a class="volume-down"><i class="fa-solid fa-volume-low"></i></a>
			<input type="range" min="0" max="100" value="50" id="volume" onchange="setVolume()">
			<a><i class="fa-solid fa-volume-up"></i></a>

			<hr class="vr">

			<div class="voice-select">
				Select voice:
				<select name="voices" id="voiceSelect" onchange="setVoice()">
					<option selected value="{{currVoice}}">{{currVoice}}</option>
					{% for voice in voices %}
					<option value="{{voice}}">{{voice}}</option>
					{% endfor %}
				</select>
			</div>
			Sample:
			<audio id="voice-sample" controls src="system/voiceSample/{{currVoice}}"></audio>
		</div>

		{% if books|length > 0 %}
		<h2 class="heading">My Books</h2>
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th># Pages</th>
					<th>Scanned at</th>
					<th colspan="4">Downloads</th>
					<th>Playback</th>
				</tr>
			</thead>
			<tbody>
			{% for book in books %}
				<tr>
					<td><input type="text" class="metadata" id="title_{{book["id"]}}" value="{{book["title"]}}" placeholder="Enter title" oninput="setTitle('{{book["id"]}}', this, false)"></td>
					<td><input type="text" class="metadata" id="author_{{book["id"]}}" value="{{book["author"]}}" placeholder="Enter author" oninput="setAuthor('{{book["id"]}}', this, false)"></td>
					<td>{{book["pages"]}}</td>
					<td>{{book["time"].strftime("%Y-%m-%d\u00a0\u00a0\u00a0%H:%M")}}</td>
					<td><a href="books/{{book["id"]}}/book.txt" target="_blank" download>Text</a></td>
					<td><a href="books/{{book["id"]}}/book.pdf" target="_blank">PDF</a></td>
					<td><a href="books/{{book["id"]}}/book.epub" target="_blank">EPUB</a></td>
					<td><a href="books/{{book["id"]}}/book.mp3" target="_blank" download>MP3</a></td>
					<td><audio class="book-playback" controls preload="none" src="books/{{book["id"]}}/book.mp3"></audio></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		{% for book in books %}
		<div class="mobile-book">
			<div class="md-row">
				<input type="text" class="metadata" id="title_{{book["id"]}}_mobile" value="{{book["title"]}}" placeholder="Enter title" oninput="setTitle('{{book["id"]}}', this, true)">
				<input type="text" class="metadata" id="author_{{book["id"]}}_mobile" value="{{book["author"]}}" placeholder="Enter author" oninput="setAuthor('{{book["id"]}}', this, true)">
			</div>
			<div class="md-row">
				<span class="info">{{book["pages"]}}</span> page,
				scanned at: <span class="info">{{book["time"].strftime("%Y-%m-%d\u00a0\u00a0\u00a0%H:%M")}}</span>
			</div>
			<div class="md-row">
				Downloads:
				<a href="books/{{book["id"]}}/book.txt" target="_blank" download>Text</a>
				<a href="books/{{book["id"]}}/book.pdf" target="_blank">PDF</a>
				<a href="books/{{book["id"]}}/book.epub" target="_blank">EPUB</a>
				<a href="books/{{book["id"]}}/book.mp3" target="_blank" download>MP3</a>
			</div>
			<audio class="book-playback-mobile" controls preload="none" src="books/{{book["id"]}}/book.mp3"></audio>
		</div>
		{% endfor %}
		{% else %}
		<h2 class="heading">Scanned books will appear here</h2>
		{% endif %}
		<br><br>
	</body>
</html>
