html {
	background-color: #015177;
}

body {
	font-family: 'Karla', sans-serif;
	text-align: center;
	font-size: 20px;
	margin: 0;
}

div.header {
	background: #0D2C54;
	padding-bottom: 20px;
}

h1 {
	font-family: 'Source Serif Pro', serif;
	color: #FF6812;
	text-align: center;
	font-size: 50px;
	padding-top: 10px;
	letter-spacing: 3px;
	margin: auto;
}

.subtitle {
	color: #FF6812;
	margin: 10px 0 0 0;
	font-size: 20px;
}

.status-idle {
	color: #bbb;
}

.status-active {
	color: #FF6812;
	animation: blink 2s linear infinite;
	animation-timing-function: ease-out;
}

@keyframes blink {
	50% {
		opacity: 30%;
	}
}

table {
	background-color: #E8EEF2;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	padding: 15px;
}

td {
	padding: 0 5px 0 5px;
}

th {
	padding-bottom: 10px;
}

thead {
	font-size: 22px;
	font-weight: bold;
}

.metadata {
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid #777 2px;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	width: 200px;
}

hr.vr {
	border-color: #bbb;
	display: inline;
	margin: 0 30px 0 30px;
}

a:visited, a {
	color: #0D2C54;
}

a:hover {
	color: #FF6812;
	cursor: pointer;
}

.inactive {
	color: #666 !important;
	pointer-events: none;
}

.inactive:hover {
	color: #666 !important;
	cursor: default !important;
}

.scan-control {
	margin-right: 20px;
}

.playback-control {
	margin-right: 10px;
}

#playback-controls {
	display: inline-block;
}

.voice-select {
	display: inline-block;
	margin-right: 10px;
}

.volume-down {
	margin-left: 30px;
}

.heading {
	color: #E8EEF2;
	font-size: 40px;
	margin-bottom: 20px;
}

audio.book-playback {
	width: 270px;
	height: 35px;
}

.current-scan {
	color: #E15E10;
}

.mobile-book {
	display: none;
}

.controls {
	background-color: #E8EEF2;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	padding: 15px 30px 15px 30px;
	display: inline-block;
}

.controls-break {
	display: none;
}

input[type="range"] {
	-webkit-appearance: none;
	background: #777;
	height: 5px;
	border-radius: 2px;
	margin-bottom: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: #777;
	height: 5px;
	border-radius: 2px;
}

input[type="range"]:hover {
	cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
	height: 17px;
	width: 17px;
	background: #0D2C54;
	margin-top: -5px;
	border-radius: 50%;
	border: none;
}

input[type="range"]:hover::-moz-range-thumb {
	background: #FF6812;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 17px;
	width: 17px;
	background: #0D2C54;
	margin-top: -6px;
	border-radius: 50%;
	border:none;
}

input[type="range"]:hover::-webkit-slider-thumb {
	background: #FF6812;
}

.fa-solid {
	margin-top: 3px;
}

#voice-sample {
	width: 100px;
	margin-bottom: -7px;
	height: 27px;
}

.bold {
	font-weight: bold;
}

.mobile-only {
	display: none;
}

@media only screen and (max-width: 1460px) {
	hr.vr {
		display: block;
		margin: 15px 0 15px 0;
	}

	.controls {
		padding: 15px 20px 15px 20px;
	}

	table {
		display: block;
		background: none;
		padding: 0;
	}

	#books {
		display: block;
	}

	#books-head {
		display: none;
	}

	.book {
		display: table;
		margin: 5px auto 5px auto;
		padding: 15px 25px 15px 25px;
		border-radius: 25px;
		background: #E8EEF2;
		line-height: 30px;
		width: 437px;
	}

	.book > td {
		display: block;
	}

	.md-row {
		display: inline-block !important;
		margin-bottom: 10px;
	}

	.info {
		font-weight: bold;
	}

	audio.book-playback {
		width: 100%;
		margin: 5px 0 5px 0;
	}

	.mobile-bold {
		font-weight: bold;
	}

	.mobile-only {
		display: revert;
	}
}

@media only screen and (max-width: 768px) {
	div.header {
		padding-bottom: 5px;
	}

	.subtitle {
		display: none;
	}
}

@media only screen and (max-width: 540px) {
	.controls-break {
		display: revert;
	}

	.scan-control {
		display: block;
		margin: 0 0 10px 0;
	}

	.controls {
		display: block;
		margin: 0 5px 0 5px;
	}

	.volume-down {
		margin-left: 0;
	}

	#playback-controls {
		display: block;
		margin-bottom: 10px;
	}

	.voice-select {
		display: block;
		margin: 0 0 10px 0;
	}

	.book {
		margin: 5px;
		width: revert;
	}

	.md-row {
		padding: 0;
	}

	.sm-row {
		display: block;
		width: 100%;
	}

	.metadata {
		width: 100%;
	}
}

/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/karla-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/karla-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/karla-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/karla-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/karla-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/karla-v23-latin-regular.svg#Karla') format('svg'); /* Legacy iOS */
}

/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/karla-v23-latin-700.eot'); /* IE9 Compat Modes */
  src: url('/fonts/karla-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/karla-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/karla-v23-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/karla-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/karla-v23-latin-700.svg#Karla') format('svg'); /* Legacy iOS */
}

/* source-serif-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/source-serif-pro-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/source-serif-pro-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/source-serif-pro-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/source-serif-pro-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/source-serif-pro-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/source-serif-pro-v15-latin-regular.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
