html {
	background-color: #0D2C54;
}

body {
	font-family: 'Karla', sans-serif;
	text-align: center;
	font-size: 20px;
}

h1 {
	font-family: 'Source Serif Pro', serif;
	color: #E3B505;
	text-align: center;
	font-size: 50px;
	padding-top: 10px;
	letter-spacing: 3px;
	margin: auto;
}

hr {
	color: rgba(227,181,5,0.51);
	border-style: solid;
}

.subtitle {
	color: rgb(227, 181, 5, 0.75);
	margin: 10px 0 20px 0;
	font-size: 20px;
}

table {
	background-color: #E8EEF2;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	padding: 15px;
}

td {
	padding: 0 5px 0 5px;
}

thead {
	font-size: 22px;
	font-weight: bold;
}

input.metadata {
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid #777 2px;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	width: 200px;
}

a:visited, a {
	color: #56A3A6;
}

a:hover {
	color: #DB504A;
}

.heading {
	color: #E8EEF2;
	font-size: 40px;
}

audio {
	width: 270px;
}

.mobile-book {
	display: none;
}

.controls {
	background-color: #E8EEF2;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	padding: 15px;
}

@media only screen and (max-width: 768px) {
	.subtitle {
		display: none;
	}

	table {
		display: none;
	}

	.mobile-book {
		display: inherit;
		margin: 5px;
		padding: 5px;
		border-radius: 25px;
		background: #E8EEF2;
		line-height: 30px;
	}
}
